* {
    box-sizing: border-box;
  }
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}
h1 {
    font-weight: bold;
    font-size: 1.5rem;
  }
html{
    margin: 0;
}
span {
    display: block;
}

.canvas
{
    margin: 100px auto 100px;
    text-align: center;
    width: 80%;
}

.button{
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
}

#white{
    background-color: white;
}

#black{
    background-color: black;
}

#red{
    background-color: red;
}

#green{
    background-color: green;
}